fastapi[all]==0.115.5
langchain==0.3.7
python-dotenv==1.0.1
pymongo==4.10.1

# Supported Language Models
langchain-ollama==0.2.0

# dev
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-cov==6.0.0
pylint==3.0.0
yapf==0.43.0